[submodule "src/arm_hardware/motor_driver/fashionstart-uart-servo"]
	path = src/arm_hardware/motor_driver/fashionstart-uart-servo
	url = https://github.com/servodevelop/fashionstar-uart-servo-cpp.git
